{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% include './_config.html' %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.2.3/esri-leaflet.js"></script>
<style>
    ._ms2_init_center {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: show;
            margin: auto;
            display: flex;
            align-items: center;
    }
    ._ms2_init_spinner {
        height: 176px;
        width: 176px;
    }
    ._ms2_init_spinner > div,
    ._ms2_init_spinner > div:after {
        border-radius: 50%;
        width: 176px;
        height: 176px;
    }
    ._ms2_init_spinner > div {
        box-sizing: border-box;
        text-indent: -9999em;
        border: 16px solid rgba(119,119,119, 0.2);
        border-left: 16px solid #777777;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: _ms2_init_anim 1.1s infinite linear;
        animation: _ms2_init_anim 1.1s infinite linear;
    }
    @-webkit-keyframes _ms2_init_anim {
        0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        }
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
    }
    @keyframes _ms2_init_anim {
        0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        }
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
    }
    ._ms2_init_text {
        -webkit-animation: _ms2_init_text_anim 2s linear 0s infinite normal;
        animation: _ms2_init_text_anim 2s linear 0s infinite normal;
        color: #6F6F6f;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 20px;
        font-weight: bold;
        height: 0.75em;
        width:  6em;
        text-align: center;
        margin: auto;
        z-index: 1000;
    }
    @keyframes _ms2_init_text_anim {
        0%  {opacity: 0}
        20% {opacity: 0}
        50% {opacity: 1}
        70% {opacity: .75}
        100%{opacity: 0}
    }
</style>
{% block style %}
<style>
    body {
        padding-top: 0px !important;
    }
    #ms-container {
        position: absolute;
        top: 72px !important;
        bottom: 0px;
        width: 100%;
        z-index: 1029;
        background-color: white;
    }
    .app-router {
        position: relative;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block app_config %}
{% autoescape off %}

{% block gn_geo_app %}
    {% if appType == "GeoStory" or request.GET.appType == "GeoStory" %}
        {% include "./app/geostory.html" with is_embed=is_embed %}
    {% endif %}
    {% if appType == "GeoPoll" or request.GET.appType == "GeoPoll" %}
        {% include "./app/geopoll.html" with is_embed=is_embed %}
    {% endif %}
{% endblock %}

{% endautoescape %}
{% endblock %}

<div id="ms-container" class="ms2">
    <div class="_ms2_init_spinner _ms2_init_center">
        <div></div>
    </div>
    <div class="_ms2_init_text _ms2_init_center">Loading MapStore</div>
</div>
